<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="acbili.shui.com.acbili">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="acbili.shui.com.global.GApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 图片查看页 -->
        <activity android:name=".ViewPagerActivity">
        </activity>
        <!-- 健康分类下的详情 -->
        <activity android:name=".CateLoreDetailActivity">
        </activity>
        <!-- 主页 -->
        <activity android:name=".MainActivity">
        </activity>
        <!-- 欢迎页 -->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--新闻详情页-->
       <activity android:name=".NewsDetailsWebActivity"/>
        <!--药品详情页-->
       <activity android:name=".DrugDetailActivity"/>
        <!--新闻非webview详情页-->
        <activity android:name=".NewsDetailActivity"/>
        <!--健康信息item详情页-->
        <activity android:name=".LoreItemDetailActivity"/>
    </application>

</manifest>